/* Fuente opcional */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* evita scroll si se pasa */
}

/* Fuente global */
body {
  font-family: 'Arimo', sans-serif;
}